header.header
  .container
    .header__wrap
      a.header__toggle.d-md-none(href="#")
        span
      a.header__logo.d-none.d-md-block(href="#")
        img(src="img/boomstarter.svg" alt="")
      a.header__support(href="#")
        span Поддержать
        span  проекты
      a.header__bussines(href="#")
        span Оформить
        span  бизнес–страницу

