.mainscreen {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  @include media-breakpoint-up(md) {
    min-height: 550px;
  }
  @include media-breakpoint-only(md) {
    padding-top: 180px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 100px;
  }

  &__wrap {
    margin: auto 0;

    &:before {
      content: '';
      width: 490px;
      height: 490px;
      background-color: rgba(#FFD54F, .2);
      position: absolute;
      right: -300px;
      bottom: -15px;
      border-radius: 50%;
      @include media-breakpoint-up(sm) {
        width: 840px;
        height: 840px;
        right: -75px;
        bottom: -400px;
      }
    }

    &:after {
      content: '';
      width: 415px;
      height: 415px;
      background-color: rgba(#F57F17, .2);
      position: absolute;
      left: 50%;
      transform: translateX(-45%);
      bottom: -120px;
      border-radius: 50%;
      @include media-breakpoint-up(sm) {
        width: 700px;
        height: 700px;
        right: 390px;
        left: auto;
        bottom: -560px;
        transform: translateX(0);
      }
    }
  }

  &__info {
    position: relative;
    z-index: 10;
    @include media-breakpoint-up(lg) {
      padding-top: 100px;
    }
    @include media-breakpoint-up(md) {
      max-width: 680px;
    }
    @include media-breakpoint-only(md) {
      margin-bottom: 60px;
    }

    h1 {
      font-size: 30px;
      font-weight: 900;
      line-height: 1.1;
      margin-bottom: 15px;
      @include media-breakpoint-up(md) {
        font-size: 48px;
      }
    }

    p {
      font-size: 20px;
      line-height: 1.4;
      @include media-breakpoint-up(md) {
        font-size: 30px;
        span {
          display: block;
        }
      }
    }
  }

  &__hash {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      font-size: 48px;
    }

    .black {
      color: #000;
    }

    .primary {
      color: #FC9D3E;
    }
  }

  &__mastercard {
    max-width: 200px;
    margin-top: 50px;
    @include media-breakpoint-up(md) {
      max-width: 250px;
      margin-top: 80px;
    }
  }

  &__manager {
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      max-width: 40%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }
    @include media-breakpoint-down(sm) {
      margin-top: -50px;
    }
  }
}

.prom {
  padding: 30px 0;
  @include media-breakpoint-up(md) {
    padding: 85px 0;
  }
  &__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 50%;
    }
    @include media-breakpoint-down(md) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    &:first-child {
      img {
        @include media-breakpoint-down(sm) {
          width: 120px;
        }
      }
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(md) {
      align-items: center;
    }
  }
  &__img {
    flex: none;
    width: 130px;
    height: 130px;
    @include media-breakpoint-up(md) {
      width: 150px;
      height: 150px;
    }
  }
  &__content {
    @include media-breakpoint-up(md) {
      padding-left: 20px;
    }
    h2 {
      margin-bottom: 0.2em;
    }
    p {
      font-size: 16px;
      margin-bottom: 0;
      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }
      span {
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
    }
  }
}

.advant {
  padding: 35px 0;
  @include media-breakpoint-up(md) {
    padding: 70px;
  }

  &__heading {
    @include media-breakpoint-up(md) {
      margin-bottom: 65px;
      text-align: center;
    }

    h2 {
      font-size: 30px;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
      @include media-breakpoint-down(sm) {
        line-height: 1.1;
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__item {
    padding: 0 10px;
    width: 50%;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      max-width: 300px;
      &:nth-child(4) {
        margin-left: -12px;
        img {
          margin-left: -18px;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      width: 25%;
      max-width: 300px;
    }
    @include media-breakpoint-down(sm) {
      &:nth-child(2) {
        .advant__preview img {
          //width: 64px;
        }
      }
      &:nth-child(3) {
        .advant__preview img {
          width: 105px;
        }
      }
      &:nth-child(4){
        .advant__preview img {
          width: 170px;
          margin-left: -10px;
        }
      }
    }
  }

  &__preview {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      height: 100px;
      margin-bottom: 15px;
    }
  }

  &__zero {
    font-weight: 500;
    font-size: 80px;
    color: #FC9D3E;
    margin-right: 10px;
    line-height: .7;
    @include media-breakpoint-up(md) {
      font-size: 100px;
    }
  }

  &__number {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    text-decoration: line-through;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      font-size: 28px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }

  &__desc {
    margin-bottom: 3px;
    max-width: 280px;
    font-size: 12px;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      font-size: 16px;
      //font-weight: 500;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
    @include media-breakpoint-down(sm) {
      line-height: 1.1;
    }
    p {
      margin-bottom: 0;
    }

    span {
      display: block;
    }
  }
}

.buy {
  padding: 35px 0;
  @include media-breakpoint-up(md) {
    padding: 60px 0 100px;
  }
  &__heading {
    @include media-breakpoint-up(md) {
      text-align: center;
      margin-bottom: 65px;
    }
    h2 {
      font-size: 30px;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
      @include media-breakpoint-down(sm) {
        line-height: 1.1;
      }
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-around;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
  &__item {
    padding: 0 15px;
    margin-top: 30px;
    @include media-breakpoint-down(sm) {
      max-width: 50%;
    }
  }
  &__inner {
    text-align: center;
  }
  &__img {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    @include media-breakpoint-up(md) {
      height: 150px;
      margin-bottom: 20px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    @include media-breakpoint-up(md) {
      font-weight: 700;
      font-size: 20px;
    }
  }
}

main {
  overflow: hidden;
}

.geo {
  background-color: #FFF7DC;
  padding-top: 40px;
  position: relative;
  &__buy {
    position: absolute;
    right: -115px;
    top: 15px;
    transform: rotate(15deg);
    max-width: 260px;
    @include media-breakpoint-up(md) {
      max-width: 40%;
      right: -15%;
      top: 0;
    }
    @include media-breakpoint-up(lg) {
      right: 0;
      top: 15%;
    }
    .arrow {
      position: absolute;
      bottom: 5px;
      left: -15%;
      width: 26%;
      transform: rotate(-20deg);
    }
    .torti {

    }
  }
  &__wrap {
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      padding: 0 15px;
      margin: 0 -15px;
    }
  }
  &__heading {
    width: 170px;
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
      width: 300px;
    }
    img {
      margin-left: -12px;
      @include media-breakpoint-up(md) {
        margin-left: -18px;
      }
    }
  }
  &__text {
    margin-bottom: 40px;
    font-size: 16px;
    max-width: 170px;
    line-height: 1.1;
    @include media-breakpoint-up(md) {
      font-size: 25px;
      max-width: 450px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 30px;
      max-width: 550px;
    }
  }
  &__phone {
    @include media-breakpoint-down(sm) {
      margin-left: -20px;
      margin-bottom: -40px;
    }
    @include media-breakpoint-down(xs) {
      transform: rotate(15deg);
    }
  }
}

.useful {
  background-color: #F8F8F8;
  padding: 35px 0;
  @include media-breakpoint-up(md) {
    padding: 60px 0;
  }
  &__heading {
    h2 {
      font-size: 30px;
    }
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    @include media-breakpoint-up(md) {
      margin: -10px;
    }
  }
  &__item {
    width: 50%;
    padding: 4px;
    @include media-breakpoint-up(md) {
      padding: 10px;
    }
    @include media-breakpoint-up(xl) {
      width: 25%;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    background-color: #fff;
    color: #000;
    transition: .3s ease-in-out;
    @include media-breakpoint-up(md) {
      min-height: 200px;
      padding: 30px 25px;
    }
    &:hover {
      color: #000;
      text-decoration: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    }
  }
  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.1;
    padding-top: 10px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
  &__img {
    margin: 0 0 auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    &.-two {
      display: flex;
    }
    &.mc {
      width: 39px;
      height: 25px;
    }
    &_line {
      padding-left: 10px;
      margin-left: 10px;
      position: relative;
      //width: 86px;
      flex: none;
      @include media-breakpoint-up(md) {
        padding-left: 16px;
        margin-left: 16px;
      }
      &:before {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #C4C4C4;
        position: absolute;
        left: 0;
        top: 0;
      }
      img {
        @include media-breakpoint-down(sm) {
          width: 33px;
        }
      }
    }
  }
  &__percent {
    line-height: 1;
    margin: 0 0 auto;
    font-size: 50px;
    font-weight: 700;
    color: #FC9D3E;
    @include media-breakpoint-up(md) {
      font-size: 80px;
    }
  }
}

.copy {
  background-color: #F8F8F8;
  padding: 50px 0 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    width: 740px;
    height: 740px;
    position: absolute;
    left: -100%;
    top: 80%;
    background-color: rgba(#F57F17, .2);
    border-radius: 50%;
    @include media-breakpoint-up(lg) {
      left: -40%;
      top: 40%;
    }
    @include media-breakpoint-up(lg) {
      left: -30%;
      top: 30%;
    }
  }
  &:after {
    content: '';
    width: 870px;
    height: 870px;
    position: absolute;
    left: -10%;
    top: 80%;
    background-color: rgba(#FFD54F, .2);
    border-radius: 50%;
    @include media-breakpoint-up(lg) {
      left: -10%;
      top: 65%;
    }
  }
  @include media-breakpoint-up(md) {
    padding: 100px 0 180px;
  }
  &__heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
      text-align: center;
    }

    h2 {
      font-size: 20px;
      line-height: 1.1;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
  }
  &__left {
    padding: 0 40px;
    margin-bottom: 60px;
  }
  &__right {
    padding: 0 40px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__btn {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
    display: none;
    &.active {
      position: static;
      display: block;
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  &__select {
    margin-top: 20px;
    display: flex;
    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }
  &__checkbox {

    cursor: pointer;
    &:not(:last-child) {
      margin-right: 30px;
      @include media-breakpoint-up(md) {
        margin-right: 50px;
      }
    }
    input {
      display: none;
      &:checked + span {
        &:after {
          opacity: 1;
        }
      }
    }

    span {
      display: block;
      padding-left: 45px;
      position: relative;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      &:before {
        content: '';
        width: 28px;
        height: 28px;
        background-color: #fff;
        border: 1px solid #C2C7CC;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background-color: #FC9D3E;
        border-radius: 50%;
        position: absolute;
        left: 8px;
        top: 8px;
        opacity: 0;
      }
    }
  }
  &__link {
    background-color: transparent;
    border: 1px solid #FC9D3E;
    color: #FC9D3E;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 16px;
    transition: .3s ease-in-out;
    width: 100%;
    text-align: center;
    min-width: 260px;
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
    &:hover {
      background-color: #FC9D3E;
      color: #fff;
      text-decoration: none;
    }
    &.active {
      background-color: #FC9D3E;
      color: #fff;
      text-decoration: none;
    }
  }

}

.btn-blue {
  max-width: 308px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
  background-color: $secondary;
  transition: .2s ease-in-out;
  border: 1px solid $secondary;
  &:hover {
    background-color: #fff;
    color: $secondary;
    text-decoration: none;
  }
}

.launched {
  padding: 35px 0 20px;
  @include media-breakpoint-up(md) {
    padding: 90px 0 60px;
  }
  &__heading {
    h2 {
      font-size: 30px;
    }
    a {
      color: $secondary;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__wrap {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;
  }
  &__item {
    width: 50%;
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    @include media-breakpoint-up(lg) {
      width: 33.333%;
    }
    padding: 0 10px;
  }

  &__img {
    padding-top: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
  }
  &__progress {
    width: 100%;
    height: 25px;
    background-color: #DDDDDD;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      height: 35px;
    }
  }
  &__percent {
    background-color: #FC9D3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 11px;
    color: #fff;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
  &__content {
    padding: 12px 0;
  }
  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
  &__desc {
    font-size: 12px;
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }
}

.iam {
  padding: 35px 0;
  @include media-breakpoint-up(md) {
    padding: 80px 0 110px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    padding: 10px 10px;
    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    border: 1px solid #8D8D8D;
    min-height: 110px;
    padding-left: 50%;
    position: relative;
    @include media-breakpoint-up(md) {
      min-height: 200px;
    }
    &:hover {
      text-decoration: none;
      .iam__title {
        color: #FC9D3E;
      }
      .iam__img {
        transform: translateX(-5px);
      }
    }
  }
  &__img {
    position: absolute;
    left: 8%;
    bottom: 0;
    width: 35%;
    transition: .3s ease-in-out;
    &.custom {

    }
  }
  &__title {
    font-weight: 900;
    font-size: 16px;
    transition: .3s ease-in-out;
    color: #000;
    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
  }
  &__desc {
    font-weight: 500;
    font-size: 12px;
    color: #000;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
}



.modals {
  max-width: 640px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  &__wrap {
    padding: 50px 50px 80px;
    background-color: #fff;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    &:hover {
      text-decoration: none;
      .modals__link {
        text-decoration: none;
        color: #FC9D3E;
      }
      .modals__icon {
        transform: scale(1.1);
      }
    }
  }
  &__icon {
    width: 42px;
    height: 42px;
    margin-right: 14px;
    transition: .1s ease-in-out;
  }
  &__link {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    transition: .1s ease-in-out;
  }
}

#working {
  display: flex;
  justify-content: center;
  .modals__box {
    flex-direction: column;
  }
  .modals__item {
    width: 100%;
  }
}





















