.header {
  background-color: #fff;
  width: 100%;
  //@include media-breakpoint-up(md) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  //}
  &__wrap {
    padding: 20px 0;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(md) {
      padding: 30px 0;
    }
  }
  &__logo {
    @include media-breakpoint-up(md) {
      margin-right: 50px;
    }
  }
  &__support {
    margin-right: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    @include media-breakpoint-up(md) {
      margin-right: 50px;
    }
    span {
      @include media-breakpoint-down(xs) {
        display: block;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  &__bussines {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: $secondary;
    &:hover {
      color: darken($secondary, 10%);
      text-decoration: none;
    }
    span {
      white-space: nowrap;
      @include media-breakpoint-down(xs) {
        display: block;
      }
    }
  }
  &__toggle {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    flex: none;
    height: 21px;
    cursor: pointer;
    opacity: .9;
    position: relative;
    margin-right: 30px;
    &:before, &:after {
      content: '';
    }
    span, &:before, &:after {
      display: block;
      width: 100%;
      height: 5px;
      background: #000;
      position: absolute;
      left: 0;
      transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s, width 0.25s ease-in-out;
      transform-origin: center;
    }
    &:before {
      top: 0;
    }
    span {
      top: 8px;
    }
    &:after {
      top: 16px;
    }
  }
}